* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../../assets/images/shapes.png");
}
#shapes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  height: 80%;
  padding: 1em;
  background-color: white;
  box-shadow: 10px 10px 15px #aaaaaa;
  border-radius: 15px;
  color: #4c4c4c;
}

#shape {
  padding: 0.5em;
  border-radius: 5px;
  color: #4c4c4c;
  outline: none;
}

#inputs,
#results {
  margin: 2em 0;
}
#inputs div {
  margin: 1em 0;
}
#results div {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  margin: 2em 0;
  border: 1px solid #4c4c4c;
  border-radius: 5px;
}

input {
  padding: 0.25em;
  border-radius: 5px;
  border: 1px solid #4c4c4c;
  outline: none;
}
input:disabled {
  background-color: rgb(228 230 237);
  border: none;
}
label {
  padding: 0.25em;
}
hr {
  background-color: #4c4c4c;
}
@media (min-width: 768px) {
  #shapes-container {
    max-width: 30em;
  }
}
